.all{
    
}
label:nth-child(3){
    font-size: 12px !important;
}
label:nth-child(2){
    font-size: 12px !important;
}
.Multiple_Booking{
    font-size: 14px !important;
}
.Select_Resource{
    font-size: 14px !important;
}
.text{
    font-size: 12px !important;
    color: #92A1AD !important;
}
.bg-select{
    background-color: #ECF1F6 !important;
}

.bg-background{
    background-color: #F7F7F7 !important;
}
button{
    font-size: 10px !important;
}
