<div class="all">
    <div class="mb-4">
        <select class="form-select w-25" aria-label="Default select example" (change)="ChangeLang($event)">
            <option selected value="en">En</option>
            <option value="ar">Ar</option>
        </select>
    </div>
    <form action=""  [formGroup]="Form" (ngSubmit)="Submit()">
        <section class=" row gy-4 d-flex align-items-center justify-content-between mb-4">
            <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12 d-flex align-items-center justify-content-between">
                <button type="button" class="btn btn-light text"><img src="assets/icons/trash.svg" alt="" class="mx-2" width="18px">{{'deleteImg' | translate }}</button>
                <button type="submit" class="btn btn-dark text mx-2">{{'Save_changes' | translate }}</button>
                <p-inputSwitch ></p-inputSwitch>
            </div>
            <div class="col-xxl-3  col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12 d-flex align-items-center justify-content-center">
                <h6 class="mb-0 mx-2"> {{'add' | translate }}</h6>
                <img src="assets/icons/back.png" alt="" class="mx-2" width="40px">
            </div>
        </section>
        <div>
            <section class=" row gy-4 d-flex align-items-center justify-content-between mb-4">
                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                    <div class="bg-background rounded-3 p-4">
                        <div class="text text-black-50 mb-1">{{'Supplier_available_to' | translate }}</div>
                        <div class=" d-flex align-items-center justify-content-between">
                            <select class="form-select w-25 bg-select" aria-label="Default select example shadow-nove" formControlName="nameDate">
                                <option value="day" selected>{{'day' | translate }}</option>
                                <option value="month">{{'month' | translate }}</option>
                                <option value="year">{{'year' | translate }}</option>
                            </select>
                            <div class="w-100">
                                <p-inputNumber mode="decimal" [showButtons]="true" inputId="minmax-buttons" [min]="0" [max]="100" formControlName="to_time"> </p-inputNumber>
                            </div>
                        </div>
                        <div class="text text-black-50 my-1">{{'Resource_Time' | translate }}</div>
                        <div class="d-flex align-items-center row">
                            <div class="d-flex flex-md-wrap flex-lg-nowrap align-items-center justify-content-between col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                <div class="">
                                    <input class="form-check-input mx-1" type="radio" name="flexRadioDefault" id="flexRadioDefault1" (click)=" hideTimerInput()">
                                    <img src="assets/icons/clock.svg" alt="" class="mx-1">
                                    <label class="form-check-label " for="flexRadioDefault1">{{'Service_time' | translate }}</label>
                                </div>
                                <div class="">
                                    <input class="form-check-input mx-1" type="radio" name="flexRadioDefault" id="flexRadioDefault1" (click)="showTimerInput()">
                                    <img src="assets/icons/box-time.svg" alt="" class="mx-1">
                                    <label class="form-check-label " for="flexRadioDefault1">{{'Time_is_fixed' | translate }}</label>
                                </div>
                            </div>
                            <div class=" col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                <div *ngIf="showtimer">
                                    <p-inputNumber [showButtons]="true" buttonLayout="horizontal" inputId="horizontal" spinnerMode="horizontal" [step]="1" decrementButtonClass="p-button-danger" incrementButtonClass="p-button-success" incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus" mode="decimal" currency="EUR" formControlName="Minutes_Selection">
                                    </p-inputNumber>
                                </div>
                            </div>
                        </div>
                        <div class="mt-2"><span class="Multiple_Booking ">{{'Multiple_Booking' | translate }}</span> <img src="assets/icons/info-circle.svg" alt="" class="mx-2"></div>
                        <div class="d-flex align-items-center row">
                            <div class=" d-flex flex-md-wrap flex-lg-nowrap align-items-center justify-content-between col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                <div class="">
                                    <input class="form-check-input mx-1" type="radio" name="flexRadioDefault" id="flexRadioDefault1" (click)="hideCounterVector()">
                                    <img src="assets/icons/Vector.svg" alt="" class="mx-1">
                                    <label class="form-check-label  " for="flexRadioDefault1"> {{'One_booking_only' | translate }}</label>
                                </div>
                                <div class=" mx-3">
                                    <input class="form-check-input mx-1" type="radio" name="flexRadioDefault" id="flexRadioDefault2" (click)="showCounterVector()">
                                    <img src="assets/icons/tow vector.svg" alt="" class="mx-1">
                                    <label class="form-check-label  " for="flexRadioDefault2"> {{'more_than_one_person' | translate }}</label>
                                </div>
                            </div>
                            <div class=" col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                <div *ngIf="showcounter">
                                    <p-inputNumber mode="decimal" [showButtons]="true" inputId="minmax-buttons" [min]="0" [max]="100" formControlName="Choose_appointment"> </p-inputNumber >
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                    <div>
                        <div class=" d-flex align-items-center bg-white rounded-3 p-4 mb-4">
                            <div>
                                <label for="img" class="form-label cont_img" *ngIf="!srcImg">
                                    <img src="assets/icons/Image-user.png" class="mx-2" alt="" width="90px">
                                    <img class="icon_Image" src="assets/icons/icon_Image.png" alt="">
                                </label>
                                <label for="img" class="form-label cont_img" *ngIf="srcImg">
                                    <img [src]="srcImg" class="mx-2 rounded-pill" alt="" width="90px" height="110px">
                                    <img class="icon_Image" src="assets/icons/icon_Image.png" alt="">
                                </label>
                                <input type="file" class="form-control" id="img" aria-describedby="emailHelp" [hidden]="true" (change)="seletedImg($event)">
                            </div>
                            <div class="w-100">
                                <label for="exampleInputtext my-3" class="form-label text">{{'Resource_Name' | translate }}</label>
                                <input type="text" class="form-control bg-light" placeholder="هيثم محمد " id="exampleInputtext" aria-describedby="emailHelp" formControlName="name_User">
                            </div>
                            
                        </div>
                        <div class=" d-flex align-items-center justify-content-between bg-white rounded-3 p-3 mb-2">
                            <div class="Select_Resource text">{{'Select_Resource_Type' | translate }}</div>
                            <div class=" d-flex align-items-center">
                                <div class="form-check">
                                    <input class="form-check-input mx-2" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                    <label class="form-check-label text" for="flexRadioDefault1">{{'Reservation_during_the_day' | translate }}</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input mx-2" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                                    <label class="form-check-label text" for="flexRadioDefault2">{{'Reservation_period' | translate }}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <div class="bg-white rounded-3 p-3">
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <div>
                            <h6>{{'Set_work_times_for_the_resource' | translate }}</h6>
                            <p class="text">{{'Configure_your_week' | translate }}</p>
                        </div>
                        <div>
                            <button type="button" class="btn btn-light ">{{'Advanced_settings' | translate }}</button>
                            <button type="button" class="btn btn-primary">{{'Traditional_settings' | translate }}</button>
                        </div>
                    </div>
                    <div class="row gy-4">
                        <div class="d-flex align-items-center mb-4">
                            <p-inputSwitch  [disabled]="true"></p-inputSwitch>
                            <span class="mx-2">{{'Saturday' | translate }}</span>
                        </div>
                        
                        <div>
                            <div class="d-flex col-xxl-9 col-xl-9 col-lg-9 col-md-12 col-sm-12 flex-wrap flex-sm-nowrap col-xs-12" >
                                <div>
                                    <div class="d-flex align-items-center">
                                        <p-inputSwitch (click)="Showtimer(0)"></p-inputSwitch>
                                        <span class="mx-2">{{'Sunday' | translate }}</span>
                                    </div>
                                </div>
                                <div class="w-100" formArrayName="Sunday" *ngIf="check_0">
                                    <div  class="d-flex align-items-center flex-wrap flex-sm-nowrap mb-3" *ngFor="let item of sunday.controls; let i = index">
                                            <ng-container  [formGroupName]="i">
                                                <input type="time" class="form-control bg-white" formControlName="startTime">
                                                <input type="time" class="form-control bg-white"  formControlName="endTime">
                                            </ng-container>
                                        <img *ngIf="i==0" src="assets/icons/plus.png" alt="" class="mx-2" (click)="addTimer(0)">
                                        <img *ngIf="i>0" src="assets/icons/minus.png" alt="" class="mx-2" (click)="removeTimer(0,i)">
                                        <img [hidden]="i>0" src="assets/icons/copy.png" alt="" class="mx-2" width="40px" width="40px">
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        
                        <div>
                            <div class="d-flex col-xxl-9 col-xl-9 col-lg-9 col-md-12 col-sm-12 flex-wrap flex-sm-nowrap col-xs-12">
                                <div>
                                    <div class="d-flex align-items-center">
                                        <p-inputSwitch  (click)="Showtimer(1)"></p-inputSwitch>
                                        <span class="mx-2">{{'Monday' | translate }}</span>
                                    </div>
                                </div>
                                <div class="w-100" formArrayName="Monday" *ngIf="check_1">
                                    <div  class="d-flex align-items-center flex-wrap flex-sm-nowrap mb-3" *ngFor="let item of Monday.controls; let i = index">
                                        <ng-container  [formGroupName]="i">
                                            <input type="time" class="form-control bg-white" formControlName="startTime">
                                            <input type="time" class="form-control bg-white"  formControlName="endTime">
                                        </ng-container>
                                    <img *ngIf="i==0" src="assets/icons/plus.png" alt="" class="mx-2" (click)="addTimer(1)">
                                    <img *ngIf="i>0" src="assets/icons/minus.png" alt="" class="mx-2" (click)="removeTimer(1,i)">
                                    <img [hidden]="i>0" src="assets/icons/copy.png" alt="" class="mx-2" width="40px" width="40px">
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div>
                            <div class="d-flex col-xxl-9 col-xl-9 col-lg-9 col-md-12 col-sm-12 flex-wrap flex-sm-nowrap col-xs-12">
                                <div>
                                    <div class="d-flex align-items-center">
                                        <p-inputSwitch (click)="Showtimer(2)"></p-inputSwitch>
                                        <span class="mx-2">{{'Tuesday' | translate }}</span>
                                    </div>
                                </div>
                                <div class="w-100" formArrayName="Tuesday"  *ngIf="check_2">
                                    <div  class="d-flex align-items-center flex-wrap flex-sm-nowrap mb-3" *ngFor="let item of Tuesday.controls; let i = index">
                                        <ng-container [formGroupName]="i">
                                            <input type="time" class="form-control bg-white" formControlName="startTime">
                                            <input type="time" class="form-control bg-white"  formControlName="endTime">
                                        </ng-container>
                                        <img *ngIf="i==0" src="assets/icons/plus.png" alt="" class="mx-2" (click)="addTimer(2)">
                                        <img *ngIf="i>0" src="assets/icons/minus.png" alt="" class="mx-2" (click)="removeTimer(2,i)">
                                        <img [hidden]="i>0" src="assets/icons/copy.png" alt="" class="mx-2" width="40px" width="40px">
                                    </div>
                                </div>
                            </div>
                        </div>
        
                        <div>
                            <div class="d-flex col-xxl-9 col-xl-9 col-lg-9 col-md-12 col-sm-12 flex-wrap flex-sm-nowrap col-xs-12">
                                <div>
                                    <div class="d-flex align-items-center">
                                        <p-inputSwitch  (click)="Showtimer(3)"></p-inputSwitch>
                                        <span class="mx-2">{{'Wednesday' | translate }}</span>
                                    </div>
                                </div>
                                <div class="w-100" formArrayName="Wednesday"  *ngIf="check_3">
                                    <div  class="d-flex align-items-center flex-wrap flex-sm-nowrap mb-3" *ngFor="let item of Wednesday.controls; let i = index">
                                        <ng-container  [formGroupName]="i">
                                            <input type="time" class="form-control bg-white" formControlName="startTime">
                                            <input type="time" class="form-control bg-white"  formControlName="endTime">
                                        </ng-container>
                                        <img *ngIf="i==0" src="assets/icons/plus.png" alt="" class="mx-2" (click)="addTimer(3)">
                                        <img *ngIf="i>0" src="assets/icons/minus.png" alt="" class="mx-2" (click)="removeTimer(3,i)">
                                        <img [hidden]="i>0" src="assets/icons/copy.png" alt="" class="mx-2" width="40px" width="40px">
                                    </div>
                                </div>
                            </div>
                        </div>
                       
                        <div>
                            <div class="d-flex col-xxl-9 col-xl-9 col-lg-9 col-md-12 col-sm-12 flex-wrap flex-sm-nowrap col-xs-12">
                                <div>
                                    <div class="d-flex align-items-center">
                                        <p-inputSwitch  (click)="Showtimer(4)"></p-inputSwitch>
                                        <span class="mx-2">{{'Thursday' | translate }}</span>
                                    </div>
                                </div>
                                <div class="w-100" formArrayName="Thursday"  *ngIf="check_4">
                                    <div  class="d-flex align-items-center flex-wrap flex-sm-nowrap mb-3" *ngFor="let item of Thursday.controls; let i = index">
                                        <ng-container  [formGroupName]="i">
                                            <input type="time" class="form-control bg-white" formControlName="startTime">
                                            <input type="time" class="form-control bg-white"  formControlName="endTime">
                                        </ng-container>
                                        <img *ngIf="i==0" src="assets/icons/plus.png" alt="" class="mx-2" (click)="addTimer(4)">
                                        <img *ngIf="i>0" src="assets/icons/minus.png" alt="" class="mx-2" (click)="removeTimer(4,i)">
                                        <img [hidden]="i>0" src="assets/icons/copy.png" alt="" class="mx-2" width="40px" width="40px">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex align-items-center mb-4">
                            <p-inputSwitch [disabled]="true"></p-inputSwitch>
                            <span class="mx-2">{{'frayday' | translate }}</span>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </form>
</div>
